.container {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  background-color: #121212;
}

.square {
  width: 50px;
  height: 20px;
  padding: 5px;
}

.label {
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
}
