.container {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  background-color: #121212;
  padding: 10px;
}

.square {
  width: 50px;
  height: 20px;
  padding: 5px;
}

.square-container {
  display: flex;
  gap: 5px;
  font-size: 12px;
  align-items: center;
}

.label {
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
}

.inner-container {
  display: flex;
  align-items: center;
  max-width: 200px;
  text-align: left;
  gap: 10px;
}
