.slider {
  position: relative;
  width: 200px;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
  position: absolute;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #9fe5e1;
  z-index: 2;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.thumb-low::-webkit-slider-thumb {
  background-color: #ffb35c;
  box-shadow: 0 0 10px 1px #ffb35c;
}

.thumb-high::-moz-range-thumb {
  background-color: #1f91ad;
  box-shadow: 0 0 10px 1px #1f91ad;
}

.thumb-low::-moz-range-thumb {
  background-color: #ffb35c;
  box-shadow: 0 0 10px 1px #ffb35c;
}

.thumb-high::-webkit-slider-thumb {
  background-color: #1f91ad;
  box-shadow: 0 0 10px 1px #1f91ad;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.slider-container {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  text-align: left;
  gap: 10px;
}
