.Sidebar {
  width: 400px;
  background-color: #121212;
  height: 100vh;
  overflow-y: scroll;
}

.Sidebar::-webkit-scrollbar {
  display: none;
}

.header {
  padding: 0px 20px;
  text-align: left;
}

.buttonset {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  align-items: top;
  text-align: left;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  background-color: var(--main-blue);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
}

.button:hover {
  cursor: pointer;
  background-color: #83a089;
}

.inputField {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  -webkit-appearance: none;
  height: 50px;
  min-width: 50px;
}

.dropdown-option {
  background-color: #a6a6a6;
  font-weight: bold;
  font-size: 16px;
}

.inputField:focus {
  border: none;
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.5);
  transition: transform 200ms, background-color 500ms;
  outline: none;
}

.sliders {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  text-align: left;
  padding: 20px;
  align-items: center;
  column-gap: 20px;
  row-gap: 0px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: #aaa;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: #fff;
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #1f91ad;
}

.toggle-container {
  display: flex;
  font-size: 12px;
  gap: 10px;
  padding: 0px 20px;
  align-items: center;
  text-align: right;
}
